

:root, :root[data-theme="british-racing"] {
    --bg: #02170dff;
    --fg: #f5efe3;
    --fg-subdued: #bdbdb7ff;
    --page-width: 980px;

    --primary-font: 'Georgia';
    --secondary-font: 'Montserrat';
}


/* --- FONTS --- */
@font-face {
    font-family: 'Inter';
    src: url('/fonts/Inter/Inter-VariableFont_opsz,wght.ttf') format('truetype');
}


@font-face {
    font-family: 'Montserrat';
    src: url('/fonts/Montserrat/Montserrat-VariableFont_wght.ttf') format('truetype');
}