---
import Layout from "../layouts/Layout.astro";
const allPosts = Object.values(
  import.meta.glob("./posts/*.md", { eager: true })
);
allPosts
  .sort((p1: any, p2: any) => p2.frontmatter.date - p1.frontmatter.date)
  .reverse();
---

<Layout>
  <h1>Posts:</h1>
  <ul>
    {
      allPosts.map((post: any) => (
        <li>
          <a href={post.url}>{post.frontmatter.title}</a>
          <span>{post.frontmatter.date.replace(/(T)(.*)/, "")}</span>
        </li>
      ))
    }
  </ul>
</Layout>

<style>
  h1 {
    margin-left: 5%;
    font-size: 1rem;
    margin-bottom: 0;
    padding-bottom: 0;
  }

  ul {
    margin-left: 5%;
    padding-right: 0.4rem;
    max-width: var(--page-width);
  }

  li {
    font-size: 0.9rem;
    display: flex;
    justify-content: space-between;
    padding-bottom: 0.4rem;
  }

  a {
    color: var(--fg-color);
    text-decoration: none;
  }

  a:hover {
    color: var(--fg-subdued);
  }

  span {
    color: var(--fg-subdued);
    font-size: 0.6rem;
  }
</style>
