---
import Layout from '../layouts/Layout.astro';
---

<Layout>
    <div class="resume-container">
        <!-- HEADER -->
        <section class="resume-header">
            <div>
                <h1>James Boehme</h1>
                <h3>Résumé</h3>
            </div>
            <table>
                <tr>
                    <td>
                        <a href="mailto:jboehme05@gmail.com">jboehme05@gmail.com</a>
                    </td>
                    <th>
                    Email
                    </th>
                </tr>
                <tr>
                    <td>
                        <a href="tel:+14352588669">+1 (435) 258-8669</a>
                    </td>
                    <th>
                        Cell
                    </th>
                </tr>
                <tr>
                    <td>
                        <a href="https://47c.in">www.47c.in</a>
                    </td>
                    <th>
                        Site
                    </th>
                </tr>
            </table>
        </section>
        <!-- CONTRIBUTIONS -->
        <section class="category contributions">
            <h2>Open Source Contributions</h2>
            <hr />
            <ul>
                <li>
                    <h3><a>zstd-rs - foundational work</a></h3>
                    <blockquote>
                        Contributed core compressor infrastructure and dictionary generation to zstd-rs, the only pure Rust implementation of the Zstandard compression algorithm.
                        Auxiliary work included adding unit tests,
                        fuzzing, and integration testing. The dictionary generation code contributed
                        and benchmarked within 0.5%
                        of Facebook's. Other noteworthy contributions include significant codebase refactoring and documentation improvements.
                    </blockquote>
                </li>
                <li>
                    <h3><a>Axum - multipart forms</a></h3>
                    <blockquote>
                        Axum is the largest web framework in the Rust ecosystem, and is 
                        relied on by <a href="https://azure.microsoft.com/en-us/products/machine-learning">Azure ML</a>, <a href="https://reddit.com">reddit.com</a>, and more.
                        Implemented HTTP multipart form support from scratch via test driven development and upstreamed my
                        changes into the core Axum framework. The work involved reading the associated portions of the HTTP specification,
                        defining tests to verify behavior, then implementing an API in a style consistent
                        with the rest of the codebase.
                    </blockquote>
                </li>
            </ul>
                    <blockquote>
                        More contributions can be found on my
                        <a href="https://github.com/zleyyij">Github profile</a>.
                    </blockquote>

        </section>
        <!-- PROJECTS -->
        <section class="category">
            <h2>Founded Projects</h2>
            <hr />
            <ul>
                <li>
                    <h3><a href="https://github.com/spec-ify/specify" target="_blank">Spec-ify</a> - Computer info aggregator and viewer</h3>
                    <blockquote>
                        Developed  as a better replacement for Piriform's <a target="_blank" href="https://www.ccleaner.com/speccy">Speccy</a>,
                        I contributed heavily to the C# client, PHP/Svelte web viewer, and more recently the Rust backend.
                        As a developer and project lead, I learned from professional developers and gained experience working as a team.
                        Spec-ify is utilized by several volunteer techsupport communities.
                    </blockquote>
                </li>
                <li>
                    <h3><a href="https://github.com/r-Techsupport/hyde" target="_blank">Hyde</a> - Web editor and CMS for Markdown based static sites</h3>
                    <blockquote>
                        Hyde is a web editor for static sites. It makes content management for Jekyll/Astro static sites accessible to teams.
                        Leading the development of this project helped me gain an understanding of hexagonal architecture.
                        Hyde is built with a Rust/SQLite backend with a Svelte frontend.
                        I gained experience working with git at a very low level. Hyde is a critical tool for the maintainers
                        of the publicly accessible <a href="https://rtech.support/" target="_blank">rtech.support</a> database.
                    </blockquote>
                </li>
                <li>
                    <h3><a href="https://github.com/spec-ify/hwapi">HWAPI</a> - Hardware Database</h3>
                    <blockquote>
                        This project was developed to add functionality to Specify.
                        It is composed of zero-copy Pratt parsers built using `nom`, a caching layer,
                        and a public HTTP API. 
                        It helped me understand the process of developing parsers, 
                        and demonstrates my understanding of the telemetry ecosystem.
                        In HWAPI I integrated OpenTelemetry tracing support and
                        deployed and configured a telemetry stack composed of Grafana,
                        Loki, Tempo, and an OTLP Collector orchestrated with Hashicorp Nomad.
                    </blockquote>
                </li>
            </ul>


        </section>
        <!-- SKILLS -->
        <section class="category skills">
            <h2>Skills</h2>
            <hr />
            <div>
                <h3>Programming Languages</h3>
                <ul>
                    <li>
                        <h4><em>Rust</em></h4>
                        <blockquote>
                            Experience with Rust for backend web development, zero copy parsing, and systems programming.
                        </blockquote>
                    </li>
                    <li>
                        <h4><em>Typescript | Javascript</em></h4>
                        <blockquote>
                            Used Typescript medium to large backend and frontend projects.
                            Framework experience with Svelte, and Astro. 
                        </blockquote>
                    </li>
                    <li>
                        <h4><em>Other</em></h4>
                        <blockquote>
                            Comfortable writing Python, C/C++, C#, and Java,
                            but prepared to learn and grow with new languages.
                        </blockquote>
                    </li>
                </ul>
            </div>
            <div>
                <h3>DevOps | Tooling</h3>
                <ul>
                    <li>
                        <h4><em>Git</em></h4>
                        <blockquote>
                            Comfortable with Git, conventional commits, and internal implementation details.
                        </blockquote>
                    </li>
                    <li>
                        <h4><em>CI|CD</em></h4>
                        <blockquote>
                            Created Github Actions that fulfill CI needs for a variety of projects. Utilized caching and
                            dynamic workflows to reduce CI times by upwards of 50%.
                        </blockquote>
                    <li>
                        <h4><em>Containerization</em></h4>
                        <blockquote>
                            Developed and deployed projects with Docker/Compose and Hashicorp Nomad.
                        </blockquote>
                    </li>
                    <li>
                        <h4><em>Linux</em></h4>
                        <blockquote>
                            Completed <a href="https://www.linuxfromscratch.org/" target="_blank">Linux From Scratch</a>. Comfortable deploying and administering a Linux system.
                        </blockquote>
                    </li>
                    
                </ul>
            </div>
        </section>

        <!-- EDUCATION -->
        <section class="category education">
            <h2>Education</h2>
            <hr />
            <ul>
                <li>
                    <h3><strong>Utah State University</strong>, Logan UT (Current)</h3>
                    <h4>Computer Engineering Bachelors - With Honors<br>
                        Fall 2024 - Spring 2029 (estimated)
                    </h4>
                    <p> Attending USU full time working towards a bachelors in Computer Engineering, with a
                        double minor in American Sign Language and Math, maintaining above a 3.8 GPA. Currently
                        enrolled in the USU Honors Program and pursuing undergraduate research.
                    </p>
                </li>
                <li>
                    <h3><strong>Bridgerland Technical College</strong>, Logan UT</h3>
                    <h4>Information Technology<br>
                        Fall 2020 - Spring 2024
                    </h4>
                    <p>
                        Graduated from BTECH's Information Technology program with a 4.0 GPA, and
                        won or placed in every hackathon hosted during my time there.
                    </p>
                </li>
                <li>
                    <h3><strong>Ridgeline High School</strong>, Logan UT</h3>
                    <h4>Fall 2020 - Spring 2024
                    </h4>
                    <p>
                        Graduated from Ridgeline High School in the summer of 2024 with a 3.9+ GPA.
                    </p>
                </li>
            </ul>
        </section>

        <!-- WORK HISTORY -->
        <section class="category work-history">
            <h2>Work History</h2>
            <hr />

            <ul>
                <li>
                    <h3><strong>Innovation Hub Lab Manager</strong> — <em>Utah State University</em></h3>
                    <h4>July 2024 - Current</h4>
                    <p>
                        Started at USU as a computer lab consultant before being promoted to Innovation Hub Manager.
                        Working as a lab manager involves ensuring reliable operation of technology and facilities.
                        Improved service reliability, and made bleeding edge technology accessible to
                        students and faculty. Other responsibilities included
                        customer service, giving tours, and guiding the future of the Innovation Hub.
                        Working here has enabled me to adapt more easily to new challenges and environments.
                    </p>
                </li>
                <li>
                    <h3><strong>Bicycle Assembly</strong> — <em>Al's Sporting Goods</em></h3>
                    <h4>June 2021 - August 2023</h4>
                    <p>
                        Performed various technical duties including assembly and quality control for bikes
                        and other sporting equipment. Learned how to communicate effectively with my teammates,
                        maintain consistently high quality work, and complete that work under a deadline.
                    </p>
                </li>
            </ul>

        </section>

        <!-- CERTIFICATIONS -->
        <section class="category certifications">
            <h2>Certifications</h2>
            <hr />
            <ul>
                <li>
                    Information Technology - Bridgerland Technical College
                </li>
                <li>
                    Comptia PC Pro
                </li>
                <li>
                    Comptia Network Pro
                </li>
                <li>
                    Comptia Security Pro
                </li>
            </ul>
        </section>
        <section class="category awards">
            <h2>Awards</h2>
            <hr />
            <ul>
                <li>Eagle Scout</li>
                <li>Competition Winner, 2024 Bridgerland Technical College Hackathon</li>
                <li>Third Place, 2020 Thermo Fisher Scientific Junior Innovators Challenge</li>
            </ul>
        </section>

    </div>
</Layout>

<style>
    :root {
        --bq-spacing: 0.2rem;
    }

    /* --- Container --- */
    .resume-container {
        margin-top: 2rem;
        max-width: var(--page-width);
        margin-left: auto;
        margin-right: auto; 
        margin-bottom: 3rem;
    }

    a {
        color: var(--fg);
        text-decoration: underline;
    }

    a:hover {
        color: var(--fg-subdued);
        text-decoration: underline;
        cursor: pointer;
    }

    section {
        padding-left: 1rem;
        padding-right: 1rem;
    }

    /* --- Header --- */
    .resume-header {
        display: flex;
        margin-bottom: 0.5rem;
    }

    .resume-header h1 {
        margin-top: 0rem;
        margin-bottom: 0rem;
        font-size: 1.7rem;
        font-weight: 600;
    }

    .resume-header h3 {
        margin-top: 0;
        margin-bottom: 0;
        font-size: 1rem;
        font-weight: 100;
        align-self: flex-end;
        color: var(--fg-subdued);
    }

    .resume-header table {
        font-family: var(--secondary-font);
        margin-left: auto;
        margin-top: auto;
        height: 2.5rem;
        font-size: 0.5rem;
        display: flex;
    }

    .resume-header a {
        /* color: #f2cd82; */
        color: var(--fg)
        float: right;
    }

    .resume-header th {
        float: left;
        padding-left: 0.2rem;
        color: var(--fg-subdued);
    }

    /* --- Categories --- */
    .category h2 {
        font-weight: 600;
        font-size: 0.95rem;
        margin-bottom: 0;
        width: 100%;
        font-style: italic;
    }

    .category h3 {
        font-weight: 600;
        font-size: 0.8rem;
        margin: 0;
    }

    .category hr {
        width: 100%;
        margin-top: 0;
        color: var(--fg-subdued);
        border-color: var(--fg-subdued);
    }

    .category ul {
        margin: 0;
        padding-left: 0.1rem;
        list-style-type: none;
    }

    .category li {
        font-size: 0.6rem;
        padding-bottom: 0.3rem;
    }

    .category blockquote {
        margin: var(--bq-spacing);
        margin-top: calc(--bq-spacing / 5);
        font-size: 0.6rem;
    }

    .skills {
        display: flex;
        flex-direction: row;
        max-width: 100%;
        flex-grow: 1;
        flex-wrap: wrap;
        justify-content: space-around;
    }

    .skills h2 {
        flex-shrink: 0;
    }

    .skills h4 {
        margin-bottom: 0;
        margin-top: 0.1rem;
        font-weight: 200;
        font-size: 0.75rem;
    }

    .skills div {
        margin-left: 0.1rem;
        margin-right: 0.4rem;
        max-width: 45%;
    }

    .education h3 {
        font-weight: 300;
    }

    .education h3 > strong {
        font-weight: 600;
    }

    .education h4 {
        margin: 0;
        margin-left: calc(var(--bq-spacing)/ 2);
        font-weight: 300;
        font-size: 0.45rem;
        color: var(--fg-subdued);
        font-family: var(--secondary-font);
    }

    .education p {
        font-size: 0.6rem;
        margin: calc(var(--bq-spacing));
        margin-top: 0.04rem;
    }

    .work-history h3 {
        font-weight: 300;
    }

    .work-history h3 strong {
        font-weight: 600;
    }

    .work-history h4 {
        margin: 0;
        margin-left: calc(var(--bq-spacing) / 2);
        font-weight: 300;
        font-size: 0.45rem;
        color: var(--fg-subdued);
        font-family: var(--secondary-font);
    }

    .work-history p {
        margin: var(--bq-spacing);
        margin-top: calc(var(--bq-spacing) / 5);
    }

    .certifications li {
        margin-left: var(--bq-spacing);
        font-style: italic;
    }

    .awards li {
        margin-left: var(--bq-spacing);
        font-style: italic;
        margin-bottom: calc(var(--bq-spacing));
        margin-top: 0; 
        padding: 0;
    }


</style>